.search-header{
  background-color: var(--yellow);
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-search-input{
  padding: 7px 60px 9px 15px;
  border-radius: 2px 0 0 2px;
  background-color: #fff;
  border: 0 rgba(0,0,0,.2);
  &:focus {outline:0;}

}

.search-icon{
  height: 41px;
  width: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-image: url('/assets/baseline_search_black_18dp.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 0 rgba(0,0,0,.2);
}
